* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
    font-weight: 500;
    background-image: linear-gradient(to bottom right, #bea7aa 0%, #a8aebf 67%, #87a7bf 100%);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: white;
    width: auto;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid black;
    align-items: center;
  }
  
  .form h3{
    margin-bottom: 1rem;
  }