
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #bea7aa 0%, #a8aebf 67%, #87a7bf 100%) fixed;
    font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
    font-weight: 500; 
}

.container{
  display:grid;
  grid-template-columns: 0.5fr 1.6fr 0.8fr 0.5fr ;
  grid-template-rows: 6rem 7fr;
  grid-template-areas: "header header header header"
   "left_side user_container user_container right_side";
}

header{
max-height: 7rem;  
background-color: white;
width: cover;
grid-area: header;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 5%;
}

header li, a{
font-size: 18px;
color: black;
}

header h1{
margin-right: auto;
padding-right: auto;
font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

.nav_menu{
list-style: none;
}

.nav_menu li{
display: inline-block;
padding: 0px 1rem;
}

.nav_menu li a{
transition: color 0.2s ease 0s;
}

.nav_menu li a:hover{
color: #0088a9;
}


.right_side{
  grid-area: right_side;
}

.left_side{
  grid-area: left_side;
}

.container .user_container{
  grid-area: user_container;
  background: rgba(255, 255, 255, 0.5);
}

.search_bar_container{
  width: cover;
  margin-top: 1.5rem;

}

.search_bar_inp{
  width: 70%;
  padding: 5px;
  border: none;
  resize: none;
  outline: none;
  margin-left: 12%;
  
  
  font-size: 17px;
}

.search_bar_form button{
  font-size: 17px;
  margin-left: -30px;
  width: 75px;
  padding: 5px;
  background-color: grey;
  color: white;
  cursor: pointer;
  border: none;
  resize: none;
  outline: none;
}

.search_bar_form button:hover{
  background: #0088a9;
}


.inner_user_container{
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  width: cover;
  border-radius: 10px;
  margin-top: 1.3rem;
  margin-right: 1rem;
  margin-left: 1rem;
   
}

.inner_user_container h2{
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}

table{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  padding: 0.2rem;
  border: 1px solid darkgrey;
  border-radius: 10px;

}

thead{
  background: white;
  border-bottom: 1px solid darkgrey;
}

thead th{
  font-size: 1.15rem;
  padding-left: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
tbody td{
  padding-left: 40px; 
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 17px;
}

.delete_btn{
  padding: 7px;
  font-size: 14px;
  font-weight: bolder;
  background: red;
  cursor: pointer;
  transition: background 0.2s ease 0s;
  border: 1px solid red;
}

.delete_btn:hover{
  background: darkred;
}

.table_row_odd{
  background: rgba(255, 255, 255, 0.2);

}

.table_row_even{
  background: rgba(211, 211, 211, 0.2);
}





