* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
    font-weight: 500;
    background-image: linear-gradient(to bottom right, #bea7aa 0%, #a8aebf 67%, #87a7bf 100%);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

/*The following css regards the user authentication case */

.auth_failed_container{
  width: 44rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 10px;
}

.auth_failed_container h1{
  margin-bottom: 1rem;
}

.auth_failed_container .user_choices{
  list-style: none;

} 

.auth_failed_container .user_choices li{
  display: inline-block;
  font-style: inherit;
  font-size: 20px;
  padding-left: 3.1rem;
  padding-right: 0.2rem;
}

.auth_failed_container .user_choices p{
  color: black;
}

.auth_failed_container .user_choices a{
  color: black;
}