* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
    font-weight: 500;
    background-image: linear-gradient(to bottom right, #bea7aa 0%, #a8aebf 67%, #87a7bf 100%);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container{
  background: white;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);  
}

.category_handle{
  margin-top: 30px;
  text-align: center;
}

.category_handle h2{
  margin-bottom: 10px ;
}

.go_back_form{
  margin-top: 22px;
}

.back_btn{
  float: right;
  margin-top: 40px;
  margin-right: -5rem;
  padding: 0.3rem 0.8rem;
  background-color: #F0F8FF;
  opacity: 0.95;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  border: 1px inline;
  border-radius: 0.25rem;
}

.back_btn:hover{
  background: lightgrey;  
}

select{
  width: 100%;
  height: 25px;
  cursor: pointer;
}

.submit_btn{
  float: right;
  margin-top: 15px;
  margin-bottom: -20px;
  padding: 0.3rem 0.8rem;
  background-color: #F0F8FF;
  opacity: 0.95;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  border: 1px inline;
  border-radius: 0.25rem;
}

.submit_btn:hover{
  background: lightgrey; 
}

