*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkgrey;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #242525;
}

header h1{
    color: white;
    margin-right: auto;
    padding-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

header h1 span{
    font-weight: 800;
    color: rgb(84, 88, 88);
}

menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 0px 25px;
}

.menu li a{
    transition: all 0.2s ease 0s;
    color: white;
}

.menu li a:hover{
    color: rgb(23, 125, 209);
}

.search_bar_form{
    margin-right: auto;
    padding-right: auto;
    margin-left: 5%;
    width: 50%;
}

.search_bar_inp{
    width: 90%;
    height: 30px;
    font-size: 16px;
}

.search_btn{
    height: 32px;
    border: 1px;
    padding-top: 1px;
    width: 8%;
    font-size: 16px;
    cursor: pointer;
}

