*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
    overflow: auto;
}

header{
    display: flex;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #242525;
    height: 20%;
    width: 100%;
}

header h1{
    color: white;
    margin-right: auto;
    padding-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

header h1 span{
    font-weight: 800;
    color: rgb(84, 88, 88);
}

menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 0px 25px;
}

.menu li a{
    transition: all 0.2s ease 0s;
    color: white;
}

.menu li a:hover{
    color: rgb(23, 125, 209);
}

.search_bar_form{
    float: center;
    margin-right: auto;
    padding-right: auto;
    margin-left: 5%;
    width: 50%;
}

.search_bar_inp{
    float: left;
    width: calc(100% - 12%);
    padding: 10px;
    background: darkgrey;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: text;
}

.search_btn{
    float: left;
    width: 10%;
    padding: 10px;
    background: white;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;

    transition: all 0.2s ease 0s;
    color: white;
}

.search_btn:hover{
    background: rgb(23, 125, 209);
}

.item1 { grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #242525;
    /*height: 20%;
    width: 100%;
    */
}

.item1 h1{
    color: white;
    margin-right: auto;
    padding-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}
.item2 { grid-area: c_menu; }
.item3 { grid-area: products; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'c_menu c_menu c_menu products products products'
    'c_menu c_menu c_menu products products products'
    'c_menu c_menu c_menu products products products'
    'c_menu c_menu c_menu products products products';
    grid-gap: 0px;
    padding: 0px;
}