*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkgrey;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: #242525;
}

header h1{
    color: white;
    margin-right: auto;
    padding-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

header h1 span{
    font-weight: 800;
    color: rgb(84, 88, 88);
}

menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 0px 25px;
}

.menu li a{
    transition: all 0.2s ease 0s;
    color: white;
}

.menu li a:hover{
    color: rgb(23, 125, 209);
}

.search_bar_form{
    margin-right: auto;
    padding-right: auto;
    margin-left: 5%;
    width: 50%;
}

.search_bar_inp{
    float: left;
    width: 75%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.search_btn{
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
