*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkgrey;
}

header{
    display: flex;
    justify-items: flex-end;
    align-items: center;
    padding: 20px 10%; 
    background-color: #242525;
}

header h1{
    margin-right: auto;
    padding-top: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

header h1 a{
    color: white;
    font-weight: lighter;
}

header h1 a span{
    font-weight: 800;
    color: rgb(84, 88, 88);
}

.nav_menu{
    list-style: none;
}

.nav_menu li{
    display: inline-block;
    padding: 0px 25px;
}

.nav_menu li a{
    transition: all 0.2s ease 0s;
    color: white;
}

.nav_menu li a:hover{
    color: rgb(23, 125, 209);
}

.auth_failed_container{
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 20%;
    margin-bottom: auto;

    height: 200px;

    background-color: #242525;
}

.auth_failed_container h1{
    color: white;
    font-size: 20px;
    margin-top: 70px;
}

.auth_failed_container a{
    transition: all 0.2s ease 0s;
    color: white;

}

.auth_failed_container a:hover{
    color: rgb(23, 125, 209);
}

.admin_box{
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 15%;
    margin-bottom: auto;

    text-align: center;
    height: 200px;
    background-color: #242525;
}

.admin_box h1{
    color: white;
    padding-top: 20px;
    padding-bottom: 15px;
}

.inner_admin_box{
    margin-top: 5px;
}

.admin_menu{
    list-style:none;
}

.admin_menu li{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
}

.admin_menu li a{
    transition: all 0.2s ease 0s;
    color: white;
}

.admin_menu li a:hover{
    color: rgb(23, 125, 209);
}









