*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkgrey;
}

header{
    display: flex;
    justify-items: flex-end;
    align-items: center;
    padding: 20px 10%; 
    background-color: #242525;
}

header h1{
    margin-right: auto;
    padding-top: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

header h1 a{
    color: white;
    font-weight: lighter;
}

header h1 a span{
    font-weight: 800;
    color: rgb(84, 88, 88);
}

.nav_menu{
    list-style: none;
}

.nav_menu li{
    display: inline-block;
    padding: 0px 25px;
}

.nav_menu li a{
    transition: all 0.2s ease 0s;
    color: white;
}

.nav_menu li a:hover{
    color: rgb(23, 125, 209);
}

.auth_failed_container{
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: auto;

    height: 550px;

    background-color: #242525;
}







