.list_product_div{

    background-color: #242525;
    padding:20px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(3, 320px);
    column-gap: 20px;
 }

 .product_name_label{
     color:white;
     width:100%;
     display: block;
 }

