.list_product_div{
    margin-top: 5%;
    margin-left:5%;

    background-color: #242525;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 300px);
 }

 .product_name_label{
     color:white;
     width:100%;
     display: block;
 }

