.list_product_div{
    margin-top: 5%;
    margin-left:5%;

    background-color: #242525;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
 }

 .product_name_label{
     color:white;
     width:100%;
 }

