.list_product_div{

   background-color: #242525;
   padding:10px;
   border-radius: 10px;
   border-style: outset;
   background-image: linear-gradient(to bottom, #FA8A7A 0%, #3CDAFA 80%, #E4F084 100%);

}
.wrapper {
   display: grid;
   grid-template-columns: repeat(4, 0.4fr);
   grid-template-rows: repeat(1, 0.5fr);
   column-gap: 20px;
   padding-top:10px;
}
.product_price_buy_div{
 display:grid;
 grid-template-columns: 1fr 1fr;
}
.product_details_button{
 margin-top:10px;
 margin-left:5px;
 padding:5px;
 border-radius:5px;
 border-style:outset;
 background-color:#01DB07;
 color:white;
 font-weight: bold;
 
}
.product_price_label{
 margin-top:10px;
 margin-right:5px;
 padding-top:5px;
 padding-left:5px;
 background-color:red;
 border-radius:5px;
 border-style:outset;
 color:white;
}

.product_name_label{
    
    font-weight: bold;
    width:100%;
    display: block;
}

.product_details_image_div{
   grid-area: image;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: white;
}
.product_details_image_div img{
   display:flex;
   margin:auto;
}
.product_details_quantity_div{
   grid-area: quant;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   overflow:auto;
   background-color: white;

   display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
   display: -ms-flexbox;  /* TWEENER - IE 10 */
   display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
   display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
   justify-content: center;
   align-items: center;

}
.product_details_price_div{
   grid-area: price;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: white;

   display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
   display: -ms-flexbox;  /* TWEENER - IE 10 */
   display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
   display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
   justify-content: center;
   align-items: center;
}
.best_customer_review_div{
   grid-area: b_rew;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: white;
}
.customer_reviews_div{
   grid-area: revew;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: white;
}
.product_details_details_div{
   grid-area: det;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: white;
}

.product_details_container{
   display: grid;
   grid-template-areas:
   'image image image image image quant'
   'image image image image image quant'
   'image image image image image price'
   'image image image image image price'
   'image image image image image price'
   'b_rew b_rew b_rew b_rew b_rew revew'
   'det det det det det revew';
   grid-gap: 10px;
   padding: 0px;
   margin-top: 0.6rem;
}
.product_details_quantity_div table{
   border-collapse: collapse;
   margin: 1.0rem;
   width:80%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.product_details_quantity_div table thead tr {
   background-color: #4A39F5;
   color: #ffffff;
   text-align: left;
}
.product_details_quantity_div table th,
.product_details_quantity_div table td {
    padding: 6px 10px;
}
.product_details_quantity_div table tbody tr {
   border-bottom: 1px solid #dddddd;
}
.product_details_quantity_div table tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}
.product_details_quantity_div table tbody tr:last-of-type {
   border-bottom: 2px solid #4A39F5;
}

button{
   cursor: pointer;
}

.form_elements{
   grid-area: form;
   width:50%;
}
.price_div{
   grid-area: price;
   width:100%;

   display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
   display: -ms-flexbox;  /* TWEENER - IE 10 */
   display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
   display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
   justify-content: center;
   align-items: center;
}

.input_details form{
   display: grid;
   grid-template-areas:
   'form button'
   'form price';
   margin: 1.0rem;
   

}
.input_details{
   margin: 1.0rem;
   width:80%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.input_details form button {
   grid-area: button;
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-top:10px;
 }