.card {
    margin-top: 0.6rem;
    float: left;
    margin-left: 0.5rem;
    background: white;   
    text-align: center;
    font-family: arial;
    border: 1px solid black;
    }
  
  
  
  .price {
    color: #000000;
    font-size: 16px;
    float: left;
    margin-left: 0.2rem;
    margin-top: 2.8rem;
  }
  
  .view_btn {
    border: none;
    outline: 0;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 3rem;
    height: 2rem;
    font-size: 16px;
    float: right;
    margin-top: 2rem;
  }
  
  .view_btn:hover {
    opacity: 0.7;
  }
  
  
  .description{
    text-align: left;
    width: 200px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card h2{
    width: 200px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } 

  .img_cont{
    position: relative;
  }
  
  .show_score{
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    color: yellow;
  }