article{
    background-color: white;
    border-style:solid;
}
.each_review{
    border-color:red;
    margin: 5px;
}
.each_comment{
    border-color:yellowgreen;
    margin-left:10px;
}
.add_review_form{
    margin-left: auto; 
    margin-right: 0;
}
.add_comment_form{
    margin-left: auto; 
    margin-right: 0;
}