article{
    background-color: white;
    border-style:solid;
}
.each_review{
    border-color:red;
    margin: 5px;
}
.each_comment{
    border-color:yellowgreen;
    margin-left:10px;
}
.add_comment_div{
    display: flex; 
    justify-content: space-around;
}
.add_review_div{
    display: flex; 
    justify-content: space-around;
}