article{
    background-color: white;
    border-style:solid;
    border-radius: 5%;
}
.each_review{
    border-color:red;
    margin: 5px;
    
}
.each_comment{
    border-color:yellowgreen;
    margin:5px;
    margin-left:15px;
    padding: 5px;
}
.only_review_div{
    border-style:solid;
    border-radius: 5%;
    border-color:lightblue;
    margin:5px;
    padding: 5px;
}
.add_comment_div{
    margin:5px;
    display: flex; 
    justify-content: end;
}
.add_review_div{
    margin:5px;
    display: flex; 
    justify-content: end;
}
.like_ratio_div{
    margin:5px;
    display: flex; 
    justify-content: end;
}