
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
    font-weight: 500;
    background-image: linear-gradient(to bottom right, #bea7aa 0%, #a8aebf 67%, #87a7bf 100%);
    height: 100vh;
}

.container{
  display:grid;
  height: 100vh;
  overflow: auto;
  
  grid-template-columns: 0.5fr 1.6fr 0.8fr 0.5fr ;
  grid-template-rows: 0.2fr 7fr;
  grid-template-areas: "header header header header"
   "left_side shopping_cart shopping_cart_info right_side";
}

header{
background-color: white;
width: cover;
grid-area: header;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 5%;
}
header li, a{
font-size: 18px;
color: black;
}

header h1{
margin-right: auto;
padding-right: auto;
font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

.nav_menu{
list-style: none;
}

.nav_menu li{
display: inline-block;
padding: 0px 1rem;
}

.nav_menu li a{
transition: color 0.2s ease 0s;
}

.nav_menu li a:hover{
color: #0088a9;
}


.right_side{
  grid-area: right_side;
}

.left_side{
  grid-area: left_side;
}

.container .shopping_cart{
  grid-area: shopping_cart;
  max-height:initial; 
  background: rgba(255, 255, 255, 0.5);
}

.cart_container{
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  width: cover;
  border-radius: 10px;
  margain-right: rem;
  margin-top: 1.3rem;
  margain-bottom: 1.2rem;
  margin-right: 1rem;
  margin-left: 1rem;
   
}

.cart_container h2{
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}

table{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  padding: 0.2rem;
  border: 1px solid darkgrey;
  border-radius: 10px;

}

thead{
  background: white;
  border-bottom: 1px solid darkgrey;
}

thead th{
  font-size: 1.15rem;
  padding-left: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
tbody td{
  padding-left: 2.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.table_row_odd{
  background: rgba(255, 255, 255, 0.2);

}

.table_row_even{
  background: rgba(211, 211, 211, 0.2);
}

.product_display{
  display: flex;
  flex-wrap: wrap;
}

td img{
  width: 90px;
  height: 90px;
  margin-right: 0.4rem;
  margin-bottom: 0.2rem;
  margin-left: -0.9rem;
}

td p{
  margin-top: 0.4rem;
  margin-bottom: 0.2rem ;
}

.shopping_cart_info{
  grid-area: shopping_cart_info;
  background: rgba(255, 255, 255, 0.5);
  width: cover;
}

.in_shopping_cart_info{
  background: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  width: cover;
  margain-right: rem;
  margin-top: 5.5rem;
  margain-bottom: 1.2rem;
  margin-right: 1rem;
  background: white;
}

.in_shopping_cart_info h3{
  padding-top: 0.8rem;
  margin-left: 1.3rem;
  margin-bottom: 0.5rem;
}

.info_table{
 border: none;
 border-top: 1px solid black;
 text-align: left; 
}

.info_table tr{
  text-align: left;
}

.total_label{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.total_price{
  font-size: 18px;
}